<%- include('layout/header.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto mt-4">
      <div class="card shadow">
        <div class="card header bg-danger">
          <h3 class="textlight">About</h3>
        </div>
     
          <h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
            maxime incidunt rerum saepe tenetur officiis corporis repudiandae ab
            quam deserunt quos earum sit quas, natus doloribus atque laborum
            adipisci voluptates.
          </h4>
       
      </div>
    </div>
  </div>
</div>

  <%- include('layout/footer.ejs') %>
</div>
