<%- include('layout/header.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto mt-4">
      <div class="card shadow">
        <div class="card header bg-danger">
          <h3 class="textlight">Contact</h3>
        </div>
   
          <h4>
          email : <h5>hassansy838@gmail.com</h5>
          </h4>
          <h4>
          phone : <h5>0982848674</h5>
          </h4>
          <h4>
          address : <h5>Damascus</h5>
          </h4>
        
      </div>
    </div>
  </div>
</div>
<%- include('layout/footer.ejs') %>
